@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #840028;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}